<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077617993688-07tk6vf3cd3b3g8en8hifaj0pjuldjv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077617993688-07tk6vf3cd3b3g8en8hifaj0pjuldjv0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1077617993688-br2igk0ibsti110tlqltvcj6devecn0t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7_b5EQgKn5lpRNPpzPyP33_1Br363zOE</string>
	<key>GCM_SENDER_ID</key>
	<string>1077617993688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nappyMobile</string>
	<key>PROJECT_ID</key>
	<string>nappybackend</string>
	<key>STORAGE_BUCKET</key>
	<string>nappybackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077617993688:ios:8e09aec0fa51c278c5f4ad</string>
</dict>
</plist>